<%- include("../partialls/header")%>
  <%- include("../partialls/navbar")%>
  <link rel="stylesheet" href="/css/star.css">

    <div class="container" style="margin-top: 5rem;">

      <%- include("../partialls/flash")%>

        <div class="row">
          <div class="col-lg-6 mt-3 mb-2">
            <div class="card" style="width: 25rem;">
              <img style="padding: 5px;" src="<%=product.img%> " class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-capitalize">
                  <%=product.name%>
                </h5>
                <p class="fw-bold">&#8377;<%=product.price%> </p>
                <p class="card-text">
                  <%=product.desc%>
                </p>
                <a href="#" class="btn btn-success">Buy</a>
                <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
                <div class="mb-3 mt-3">
                  <form action="/user/<%=product._id%>/cart" method="POST">
                    <button class="btn btn-secondary">Add To Cart</button>
                  </form>
                </div>
                <div class="mt-3">
                  <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="validated-form" action="/products/<%=product._id%>/review" method="POST" style="max-width:70%;"
              novalidate>
              <fieldset class="starability-basic">
                <legend>Ratings:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>

              <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea class="form-control" id="desc" cols="35" rows="3" name="comment"
                  placeholder="Write Your Review Here" required></textarea>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose a valid Feedback.
                </div>
              </div>

              <button type="submit" class="btn btn-success">Submit</button>
            </form>

            <div class="mb-3 mt-3">
              <%for(let review of product.reviews){%>
                <div class="card mb-3">
                  <div class="card-body">
                    <p class="text-capitalize fw-bold" style="color: gray;"><%=review.user%></p>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                      Rated: <%=review.rating%> stars
                    </p>
                    <p class="card-text">Review : <%=review.comment%></p>
                    <form action="/products/<%=product._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">remove</button>
                    </form>
                  </div>
                </div>

                <%}%>
            </div>

          </div>



        </div>

    </div>
















    <%- include("../partialls/footer")%>